{% extends "base.html" %}
{% block content %}

	{% if message %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endif %}
	
	{% if error %}
		<div class="alert alert-danger">
		  {{error}}
		</div>
	{% endif %}
	
	{% import "macros/forms.html" as forms %}
	
	<h1>Käyttäjät</h1>
	
	<table class="table table-striped table-bordered">
	<thead>
	  <tr>
		<th>Nimi</th>
		<th>Email</th>
		<th>Taso</th>
		{% if user_logged_in.taso == 2 %}
				<th></th>
		{% endif %}
	  </tr>
	</thead>

	<tbody>
	  {% for kayttaja in kayttajat %}
		<tr>
		  <td><a href="{{base_path}}/kayttaja/{{kayttaja.id}}">{{kayttaja.nimi}}</td>
		  <td>{{kayttaja.email}}</td>
			{% if kayttaja.taso == 2 %}
				<td>Admin</td>
				{% if user_logged_in.taso == 2 %}
					<td></td>
				{% endif %}
			{% else %}
				<td>Peruskäyttäjä</td>
				{% if user_logged_in.taso == 2 %}
					<td>{{forms.destroy_user("#{base_path}/kayttaja/#{kayttaja.id}/destroy", "Poista käyttäjä")}}</td>
				{% endif %}
			{% endif %}
		</tr>
	  {% endfor %}
	</tbody>
	</table>


{% endblock %}
