{% extends "base.html" %}
{% block content %}

	<h1>Keitetyt perunat</h1>
	
	<p>Reseptin jakoi: Heikki</p>
	
	<h3>Ainekset</h3>
	
	<table class="table table-bordered table-striped">
		<thead>
			<th>Raaka-aine</th>
			<th>M&auml;&auml;r&auml;</th>
		</thead>
		<tbody>
			<tr>
				<td>peruna</td>
				<td>kilo</td>
			</tr>
			<tr>
				<td>vesi</td>
				<td>1,5 litraa</td>
			</tr>
			<tr>
				<td>suola</td>
				<td>1 tl</td>
			</tr>
			<tr>
				<td>voi</td>
				<td>muutama nokare</td>
			</tr>
		</tbody>
	</table>
	
	<h3>Valmistusohje</h3>
	
	<p>Pese perunat hyvin. Laita perunat suolalla maustettuun kiehuvaan veteen. Keit&auml; kunnes perunat ovat kypsi&auml;. Nauti voinokareen kera.</p>
	
	<p>
		<button class="btn btn-danger">Poista resepti</button>
		<button class="btn btn-default">Muokkaa resepti&auml;</button>
	</p>


{% endblock %}