#main-container {
  max-width: 1200px;
  padding: 10px 25px;
  margin: 0px auto;
}

.navbar .container-fluid {
  max-width: 1200px;
  margin: 0px auto;
  /* background-color: #c5d5cb; */
}

.add {
  margin-bottom: 10px;
}

/*
body {
	color: #333333;
}

.table>caption+thead>tr:first-child>th, .table>thead>tr>th {
	background-color: #c5d5cb;
	border: 1px solid #9fa8a3 !important;
}
.table-striped>tbody>tr:nth-child(odd)>td {
   background-color: #e3e0cf;
   border: 1px solid #9fa8a3;
 }
 .table-striped>tbody>tr:nth-child(even)>td {
   border: 1px solid #9fa8a3;
 }
 */