<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>
      {% block title %}
        Reseptitietokanta
      {% endblock %}
    </title>

    {% block head %}
      <!-- Bootstrap (tyylitiedosto) -->
      <link href="{{base_path}}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

      <!-- Oma tyylitiedostomme -->
      <link href="{{base_path}}/assets/css/site.css" rel="stylesheet">
    {% endblock %}
  </head>

  <body>
  
  <span class="ngiName">{{ key|convert_encoding('UTF-8', 'iso-2022-jp') }}</span>

    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- Sovelluksen nimi -->
          <a class="navbar-brand" href="{{base_path}}">Reseptitietokanta</a>
        </div>

        <div class="collapse navbar-collapse" id="navigation">
          <ul class="nav navbar-nav">
            <!-- Navigaation linkit -->
				  <li><a href="{{base_path}}">Etusivu</a></li>
			      <li><a href="{{base_path}}/resepti">Reseptit</a></li>
				  <li><a href="{{base_path}}/resepti/search">Haku</a></li>
				  {% if user_logged_in %}
					<li><a href="{{base_path}}/kayttaja">Käyttäjät</a></li>
				  {% endif %}
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user_logged_in %}
              <li><a href="{{base_path}}/logout"><button class="btn btn-default btn-sm">Kirjaudu ulos</button></a></li>
              
            {% else %}
              <li><a href="{{base_path}}/login"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu sisään</a></li>
            {% endif %}
          </ul>

        </div>
      </div>
    </nav>

    <div id="main-container">
      {% if user_logged_in %}
          <p>Olet kirjautunut sisään nimellä <a href="{{base_path}}/kayttaja/{{user_logged_in.id}}">{{user_logged_in.nimi}}</a></p>
      {% endif %}

      <!-- Dynaaminen sisältö tulee tähän -->
      {% block content %}{% endblock %}
    </div>

    {% block body %}
      <!-- jQuery -->
      <script src="{{base_path}}/vendor/jquery.min.js"></script>
	  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

      <!-- Bootstrap (skriptitiedosto) -->
      <script src="{{base_path}}/vendor/bootstrap/js/bootstrap.min.js"></script>

      <!-- Oma skriptitiedostomme -->
      <script src="{{base_path}}/assets/js/site.js"></script>
    {% endblock %}
  </body>
</html>
