{% extends "base.html" %}

{% block content %}

  {% if message %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endif %}

  {% if error %}
		<div class="alert alert-danger">
		  {{error}}
		</div>
	{% endif %}

  <div class="page-header">
    <h1>Tervetuloa Reseptitietokantaan!</h1>
    <p><b>Sukella herkullisten reseptien pariin ja jaa omat salaiset ohjeesi.</b></p>
  </div>

  <p>
    <a href="{{base_path}}/resepti" class="btn btn-primary btn-lg">Selaa reseptejä <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
