{% extends "base.html" %}

{% block content %}

  {% if message %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endif %}

  {% if user_logged_in %}
    <p>Olet kirjautunut sisään nimellä {{user_logged_in.nimi}}</p>
  {% endif %}

  <div class="page-header">
    <h1>Tervetuloa Reseptitietokantaan!</h1>
    <p><b>Sukella herkullisten reseptien pariin ja jaa omat salaiset ohjeesi.</b></p>
  </div>

  <p>
    <a href="http://tpudas.users.cs.helsinki.fi/reseptit/resepti" class="btn btn-primary btn-lg">Selaa reseptejä <span class="glyphicon glyphicon-chevron-right"></span></a>
  </p>
{% endblock %}
