{% extends "base.html" %}
{% block content %}

	{% if message %}
		<div class="alert alert-success">
			{{message}}
		</div>
	{% endif %}
	
	{% if error %}
		<div class="alert alert-danger">
		  {{error}}
		</div>
	{% endif %}
  
	{% import "macros/forms.html" as forms %}

	<h1>Reseptit</h1>

	{% if user_logged_in %}
    <p>
			<a href="{{base_path}}/resepti/new" class="btn btn-success">Lisää resepti</a>
		</p>
	{% else %}
		<p><a href="{{base_path}}/login">Kirjaudu sisään</a> voidaksesi lisätä reseptejä.</p>
  {% endif %}
	

	<table class="table table-striped table-bordered">
	<thead>
	  <tr>
		<th>Nimi</th>
		<th>Tekijä</th>
		{% if user_logged_in %}
			<th></th>
			<th></th>
		{% endif %}
	  </tr>
	</thead>

	<tbody>
	  {% for resepti in reseptit %}
		<tr>
		
			
		
		  <td><a href="{{base_path}}/resepti/{{resepti.id}}">{{resepti.nimi}}</td>
		  <td><a href="{{base_path}}/kayttaja/{{resepti.tekijaId}}">{{resepti.tekija}}</a></td>
			{% if user_logged_in %}
				{% if user_logged_in.taso == 2 %}
					<td>{{forms.edit_button("#{base_path}/resepti/#{resepti.id}/edit")}}</td>
					<td>{{forms.destroy_button("#{base_path}/resepti/#{resepti.id}/destroy", "Poista resepti")}}</td>
				{% elseif user_logged_in.id == resepti.tekijaId %}
					<td>{{forms.edit_button("#{base_path}/resepti/#{resepti.id}/edit")}}</td>
					<td>{{forms.destroy_button("#{base_path}/resepti/#{resepti.id}/destroy", "Poista resepti")}}</td>
				{% else %}
					<td></td>
					<td></td>
				{% endif %}
			{% endif %}
		</tr>
		
		
		
	  {% endfor %}
	</tbody>
	</table>
{% endblock %}
